/* white bold italic text */
.Select-value-label {
    color: white !important;
    font-weight: bold !important;
}

.Select-placeholder {
    color: lightgray !important;
}

.Select-control {
    background-color: dimgray !important;
}

.Select-menu-outer {
    background-color: darkgray !important;
    color: white !important;
}